# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
charset = utf-8
# indent_size intentionally not specified in this section
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Powershell
[*.{cs,ps1,psd1,psm1}]
indent_size = 4

# Shell scripts
[*.sh]
end_of_line = lf
indent_size = 2

# Data serialization
[*.{json,yaml,yml}]
indent_size = 2

[.cspell.json]
indent_size = 4
insert_final_newline = false

# Markdown
[*.md]
indent_size = 2

# Javasvript
[*.js]
indent_size = 2
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = off

# [CHANGELOG.md]
indent_size = false
